<div class="container">
    <div class="row justify-content-center" id="heading-row">
        <h1><span><i class="fas fa-hamburger"></i></span>Eat Da Burger!</h1>
    </div>

    <div class="row justify-content-center" id="main-content">
        <div class="col-md-4" id="burger-col">
            {{#each data}}
                {{#unless this.devoured}}
                <div class="row justify-content-center burger-row">
                    <div class="col-8 text-center rounded burger-label">
                        <pre>{{this.id}}. {{this.burger_name}}</pre>
                    </div>
                    <div class="col-4 text-center align-content-center">
                        <form method="POST" action="/burgers/update?_method=PUT"
                            class="button-size">
                            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                            <br>
                            <button type="submit" class="btn btn-sm btn-success">DEVOUR! NOM!</button> 
                        </form>
                    </div>
                </div>
                {{/unless}}
            {{/each}}
        </div>
        
        <div class="col-md-4" id="devoured-col">
            {{#each data}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder=
                "{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 text-center" id="newburger-section">
            <form method="POST" action="/burgers/create">
            <input type="text" name="burger_name" class="form-control" value="" id="new-text">
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit Order</button>
            <h4>Type in a burger you'd like to order and devour!</h4>
            </form>
        </div>
    </div>
</div>